<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show <%= @id %> test | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>
    <p>It's a Test №<%= @id %>!</p>
    <p><%= @time %></p>
  </body>
</html>
